.list{
    text-align: center;
    background-color: darkcyan;
    color: white;
}
@media (max-width:600px){

    body{
        background-color: black;
    }

}

@media (min-width:600px){

    body{
        background-color: darkgoldenrod;
    }
}



































